
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# local env files
.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android



*.apk
diary-app/*.apk
build/

/.vscode

package-lock.json